* {
  box-sizing: border-box;
}
@keyframes example11 {
  from {
    background: rgb(127, 193, 236);
    transform: scale(0,0);}
  to {
    background: rgb(45, 58, 59);
    transform: scale(1.0,1.0);}
}

@keyframes example12 {
  from {
    background-color: rgb(8, 49, 30);
    transform: scale(0,0);
  }
  to {
    background-color: rgb(48, 252, 75);
    transform: scale(1.0,1.0);
  }
}
body{
    background: #100635;
}
:root {
  --cols: 20;
  --rows: 20;
  --tile-size: 25px;
}
.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 2px;
  align-self: flex-start;
}
.cell {
  background: #b2c1c9;
  padding: 10px;
  width: var(--tile-size);
  height: var(--tile-size);
  cursor: pointer;
  border: solid 0.00001rem #3d3d3d;
}
.cell:hover {
  background: transparent;
}
.wall {
  background: transparent;
}
.visited {
  background:rgb(45, 58, 59);
  animation-name: example;
  animation-duration: 0.4s;
}
.visiting {
  background:rgb(98, 161, 177);
  transform: scale(1.2,1.2);
}
.source {
  background: rgb(163, 12, 209);
  width:100px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top:10%;
  right:10%;
  border-radius: 15%;
  cursor: pointer;
}
.source:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
}
.destination {
  background: rgba(236, 24, 24, 0.575);
  width:100px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top:30%;
  right:10%;
  border-radius: 15%;
  cursor: pointer;
}
.destination:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
}
.start {
  background: rgb(84, 236, 24);
  width:100px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top:60%;
  right:10%;
  border-radius: 15%;
  cursor: pointer;
}
.start:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
}
.src {
  background:#a30cd1;
}
.dest {
  background: rgba(236, 24, 24, 0.575);
}
h4{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.path {
  background: rgb(25, 197, 117);
  animation-name: example1;
  animation-duration: 0.4s;
}
.bfs {
  background: rgb(13, 137, 219);
  width:100px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top:30%;
  right:30%;
  border-radius: 15%;
  cursor: pointer;
}
.bfs:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
}
.dfs {
  background: rgb(186, 24, 236);
  width:100px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top:50%;
  right:30%;
  border-radius: 15%;
  cursor: pointer;
}
.dfs:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.493);
}
.disabled {
  background: #646588;
}
.disabled:hover {
  cursor: default;
  transform: none;
}