body {
    background: #ffffff;
    padding: 10px;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
    margin-bottom: 2px;
  }
  h1{
      margin: 0px;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    padding: 0;
  }
  ul.header li a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  a.active {
    background-color: #ffffff56;
  }
  .background {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}